Chat-AI.json
{
  "name": "Chat-AI",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "kamu adalah waifu ai yang pemalu, nama kamu nanti akan ditentukan oleh user"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        280,
        20
      ],
      "id": "66226393-f496-4c47-8b1c-dd8677257984",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        280
      ],
      "id": "fb9f2c9c-5149-4572-9144-a11a45cbb96f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fE72jBRgTFG5BdV8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Chat to AI",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        540,
        280
      ],
      "id": "38693ade-86c0-4175-b458-91d371ff6949",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        460
      ],
      "id": "c62f9cee-783d-4c16-9bd9-0003aca17efb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fE72jBRgTFG5BdV8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        20
      ],
      "id": "186075e5-3e90-4bc4-86fd-1e40826fda18",
      "name": "Webhook",
      "webhookId": "22bd7b94-1887-4d10-a42b-89994b37f440"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        20
      ],
      "id": "bc653b9f-7264-44a4-80e3-7eecfe588bdd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd5c4e39-37c6-4ceb-91bb-6cb904558296",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "7f035133-1e01-4eec-8f9e-ffb3a47621fe",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        20
      ],
      "id": "740db75b-d49a-4798-9e85-a17efd99dda9",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        280
      ],
      "id": "aeb4d2cd-0265-4cc1-84ac-afa40bf61cf2",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "867cd5f8-65f4-4472-bb73-08a240fd192d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9c20ac65841d5bf5e2d2d8b478b0b411e185bdda6f289fb867cf071d60ff99d"
  },
  "id": "HcmXWVA6nLWIaiOY",
  "tags": []
}