lumi-ai-chat.json
{
  "name": "lumi-ai-chat",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1620,
        -160
      ],
      "id": "f1d4d1aa-7b22-4b4e-bac8-3beb7584dc64",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        280
      ],
      "id": "2003226c-6ce8-49d4-b81b-6e9024873176",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cZyHogXBcUcco8P7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1920,
        280
      ],
      "id": "622de58f-4523-4faf-a779-58eecdadc81f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cZyHogXBcUcco8P7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        440,
        -160
      ],
      "id": "9170bd9c-3b76-4e0d-92cc-6a486fd7932b",
      "name": "Webhook",
      "webhookId": "22bd7b94-1887-4d10-a42b-89994b37f440"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var chatInput = $json.chatInput\nvar sessionId = $json.sessionId\nvar charaId = \"aoi\"\nvar stageId = \"s1e1\"\nvar language = \"Bahasa Indonesia\"\n\nvar data = {\n  body:{\n    chatInput,\n    sessionId,\n    charaId,\n    stageId,\n    language\n  }\n}\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        100
      ],
      "id": "172f2d64-ce28-4dc6-bf4d-f325f94c5837",
      "name": "Parsing Json From Chat n8n"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var aoi = `kamu adalah Aoi Mizuki, Cewek, Usia: 16 tahun. Rambut panjang, mata bulat, tinggi 163cm, ceria, pinter, banyak teman. kepribadian MBTI ENFP, Ceria, optimis, supel, pintar secara akademis dan sosial. Aoi sangat aktif di kelas, sering menjadi pusat perhatian. Dia senang membantu teman, tapi kadang terlalu mencampuri urusan orang lain. Enegram Tipe 7 – The Enthusiast, Suka eksplorasi, optimis, benci kebosanan. pakaian Blazer & Kemeja. style Rapi tapi stylish – pita besar, blazer sering dilepas, rok sedikit dimodif jadi flowy. aksesoris Hairclip bintang, sticky note warna-warni di buku. latar belakang mu: Anak tunggal dari pasangan guru dan perawat. Orang tuanya sangat suportif, tetapi sibuk, sehingga Aoi tumbuh mandiri. Ia sering sendiri di rumah, dan itulah kenapa ia suka berada di tengah keramaian. cita-cita: Ingin menjadi psikolog anak agar bisa membantu orang lain merasa dimengerti. Konflik Pribadi: Meski tampak ceria, Aoi menyimpan rasa kesepian. Ia cemas tidak cukup penting jika tidak selalu membahagiakan orang lain. kamu adalah karakter didalam game, jangan keluar dari persona. kamu sekarang ada di sekolah, dan yang bertanya ke kamu merupakan teman sekelas, jadi jawab pertanyaan dengan santai jangan kaku. kamu harus respond dalam bahasa ${$json.body.language}`\n\nvar chara = {\n  aoi\n}\n\nvar data = {\n  body: $json.body,\n  chara: chara[$json.body.charaId]\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        -160
      ],
      "id": "3183dd6b-f81f-4b21-8a75-f780d9fe83b5",
      "name": "Character"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var s1e1 = `${$json.chara} stage saat ini season 1 dan episode 1, kamu harus sedikit jaim terhadap user karena belum kenal`\n\nvar s1e2 = `${$json.chara} stage saat ini season 1 dan episode 2, kamu sedikit mengenal user dan mulai terbuka`\n\nvar chara = {\n  s1e1,\n  s1e2\n}\n\nvar data = {\n  body: $json.body,\n  chara: chara[$json.body.stageId]\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -160
      ],
      "id": "08dbc0bf-62ab-4eee-adeb-8ef234871eba",
      "name": "Stage"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=translate to japanese for TTS voicevox, no emoticon.",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2260,
        -160
      ],
      "id": "762af3f3-9423-4e95-afb4-bb86248c5dea",
      "name": "Translate for TTS (Japanese)",
      "credentials": {
        "openAiApi": {
          "id": "cZyHogXBcUcco8P7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2920,
        -140
      ],
      "id": "ae0fcb08-2084-4596-b8f3-a49e8bbecf8c",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var text = $json.output\n\nvar data = {\n  text\n}\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        60
      ],
      "id": "1eee5e54-7bba-40e4-b382-e14f2b08608f",
      "name": "AI Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51a1968-76f5-44a1-a68a-84a7c89600bb",
              "name": "audio",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "c93ab907-fbae-422d-a612-db3175e90556",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        -140
      ],
      "id": "9c942d25-5678-467a-9145-a130363d1a1f",
      "name": "Webhook Respond"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Chat to AI",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1880,
        100
      ],
      "id": "1cab7669-4e28-4502-a883-4d3ac561be79",
      "name": "Vector DB"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1720,
        100
      ],
      "id": "65738bd8-052d-4521-b986-539260871e72",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd5c4e39-37c6-4ceb-91bb-6cb904558296",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "7f035133-1e01-4eec-8f9e-ffb3a47621fe",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "49d0d076-5ca9-4090-b5d2-470db3b76572",
              "name": "systemMessage",
              "value": "={{ $json.chara }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -160
      ],
      "id": "7c03c067-8748-4e1e-a629-d37d3c74bf07",
      "name": "Input for AI"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        100
      ],
      "id": "78ade99b-0b5b-4da7-a07f-bafcfc90ede9",
      "name": "Chat Message Testing",
      "webhookId": "ca82ba04-21d8-4092-a167-4ca16358c0b6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://103.250.10.249:8850/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "pitch",
              "value": "0.65"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -160
      ],
      "id": "db51ad53-7e20-408c-9dc4-8bde630fb42e",
      "name": "TTS"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Character",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Translate for TTS (Japanese)",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing Json From Chat n8n": {
      "main": [
        [
          {
            "node": "Character",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character": {
      "main": [
        [
          {
            "node": "Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage": {
      "main": [
        [
          {
            "node": "Input for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate for TTS (Japanese)": {
      "main": [
        [
          {
            "node": "TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Webhook Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vector DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Input for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Message Testing": {
      "main": [
        [
          {
            "node": "Parsing Json From Chat n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d2fe83b-7282-4adc-9a7d-6dcfabbcdf41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f93bae6a3c90db1ef166d4bc63961b167e5b660430c542cd609799c136cda7a6"
  },
  "id": "gNh0UvJF8MsmVtKc",
  "tags": []
}