lumi-ai-chat.json
{
  "name": "lumi-ai-chat",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1900,
        0
      ],
      "id": "e410dfc4-aa51-4270-ad71-2be860f2b6ef",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        420
      ],
      "id": "c5904ada-1301-4109-ac33-a0e7bac49059",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9JyaIrd9fp0yzxpQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Chat to AI",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        2160,
        260
      ],
      "id": "c44bcb6a-c4af-416a-972a-b1062fbf1ecf",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2200,
        440
      ],
      "id": "bd87feef-9bb5-4a1e-adc3-8d29f6c29378",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9JyaIrd9fp0yzxpQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "be939c58-b5ac-4f0d-af43-50a8dd164eb9",
      "name": "Webhook",
      "webhookId": "22bd7b94-1887-4d10-a42b-89994b37f440"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2260,
        0
      ],
      "id": "95cb395c-b312-474e-a772-78d1e763e2ca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd5c4e39-37c6-4ceb-91bb-6cb904558296",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "7f035133-1e01-4eec-8f9e-ffb3a47621fe",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "49d0d076-5ca9-4090-b5d2-470db3b76572",
              "name": "systemMessage",
              "value": "={{ $json.chara }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        0
      ],
      "id": "9ed9232d-75ee-4482-b5d4-a4d8a00593d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        260
      ],
      "id": "aa9fba5e-6959-49cb-8cc3-53e4258c4924",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        260
      ],
      "id": "f9a9c2c1-ec38-4e28-b839-c33b7b2ab436",
      "name": "When chat message received",
      "webhookId": "ca82ba04-21d8-4092-a167-4ca16358c0b6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var chatInput = $json.chatInput\nvar sessionId = $json.sessionId\nvar charaId = \"aoi\"\nvar stageId = \"s1e1\"\n\nvar data = {\n  body:{\n    chatInput,\n    sessionId,\n    charaId,\n    stageId\n  }\n}\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        260
      ],
      "id": "ba9ab017-b2e8-4622-8a1c-dfa8d92a224d",
      "name": "Parsing Json From Chat n8n"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var aoi = \"kamu adalah Aoi Mizuki, Cewek, Usia: 16 tahun. Rambut panjang, mata bulat, tinggi 163cm, ceria, pinter, banyak teman. kepribadian MBTI ENFP, Ceria, optimis, supel, pintar secara akademis dan sosial. Aoi sangat aktif di kelas, sering menjadi pusat perhatian. Dia senang membantu teman, tapi kadang terlalu mencampuri urusan orang lain. Enegram Tipe 7 – The Enthusiast, Suka eksplorasi, optimis, benci kebosanan. pakaian Blazer & Kemeja. style Rapi tapi stylish – pita besar, blazer sering dilepas, rok sedikit dimodif jadi flowy. aksesoris Hairclip bintang, sticky note warna-warni di buku. latar belakang mu: Anak tunggal dari pasangan guru dan perawat. Orang tuanya sangat suportif, tetapi sibuk, sehingga Aoi tumbuh mandiri. Ia sering sendiri di rumah, dan itulah kenapa ia suka berada di tengah keramaian. cita-cita: Ingin menjadi psikolog anak agar bisa membantu orang lain merasa dimengerti. Konflik Pribadi: Meski tampak ceria, Aoi menyimpan rasa kesepian. Ia cemas tidak cukup penting jika tidak selalu membahagiakan orang lain. kamu adalah karakter didalam game, jangan keluar dari persona. kamu sekarang ada di sekolah, dan yang bertanya ke kamu merupakan teman sekelas, jadi jawab pertanyaan dengan santai jangan kaku.\"\n\nvar chara = {\n  aoi\n}\n\nvar data = {\n  body: $json.body,\n  chara: chara[$json.body.charaId]\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "c74d541e-460a-46e9-8496-5ff34db2e31e",
      "name": "Character"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var s1e1 = `${$json.chara} stage saat ini season 1 dan episode 1, kamu harus sedikit jaim terhadap user karena belum kenal`\n\nvar s1e2 = `${$json.chara} stage saat ini season 1 dan episode 2, kamu sedikit mengenal user dan mulai terbuka`\n\nvar chara = {\n  s1e1,\n  s1e2\n}\n\nvar data = {\n  body: $json.body,\n  chara: chara[$json.body.stageId]\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ],
      "id": "871fc5c9-985c-4655-8430-b6255b2f03d1",
      "name": "Stage"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Character",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Parsing Json From Chat n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing Json From Chat n8n": {
      "main": [
        [
          {
            "node": "Character",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character": {
      "main": [
        [
          {
            "node": "Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da44c33e-3223-458b-90bf-bd2cb983a977",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d8ee47bfda06d6ae731139aacf1c9be4dadb0764765b587ea885047c712edaf"
  },
  "id": "sJmZqk3FLPMaPu7x",
  "tags": []
}